/*Anchor/icon tag*/
a, i{
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(37, 37, 37);
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    border-radius: 50px;
}
i{
    padding: 5px 8px 5px 8px;
    background-color: hsl(218, 82%, 59%);
    border-radius: 50%;
}

/*Main*/
body, html{
    color: white;
}
.code-reset-container{
    margin: 20px;
}
.container{
    height: 100vh;
    width: calc(100vw - 50px);
    display: flex;
    justify-content: center;
}
.prompt-container1{
    padding: 30px;
}
.prompt-container1 img{
    width: 75px;
}
.prompt-container1 h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.code-reset-form{
    display: flex;
    justify-self: center;
    padding: 20px 40px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    background-color: rgb(37, 37, 37);
}
.reset-form-container{
    width: 100%;
}
.reset-form-container .form-control{
    display: flex;
    justify-self: center;
    width: 100%;
    padding: 10px;
    color: whitesmoke;
    font-size: 0.9em;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(37, 37, 37, 0.8);
    box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 1px 1px 2px rgba(255,255,255,0.5);
    transition: 1s;
}
.reset-form-container .form-control:hover{
    box-shadow: 1px 1px 2px 3px rgba(47, 47, 250, 0.733), -1px -1px 2px 3px rgba(47, 47, 250, 0.733);
}
.reset-form-container .password-disclaimer{
    margin-top: 0;
}
.reset-form-container .password-disclaimer, .reset-form-container #form2{
    margin-bottom: 25px;
}
.reset-form-container .password-disclaimer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    justify-self: center;
    font-size: 0.7rem;
    font-style: italic;
    letter-spacing: 1px;
    color: rgb(245, 57, 57);
}
.reset-form-container hr{
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.658);
    margin-bottom: 20px;
}